body{
    background-image: url('../assets/crew/background-crew-desktop.jpg');
    
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: var(--size-11);

    margin-inline-start: 10rem;
}

.article--cards {
    display: flex;
    flex-direction: column;
}

.article__header {
    font-size: calc(var(--font-size-fluid-2) + 0.3rem);
    font-weight: var(--font-weight-3);

    margin-block-start: var(--size-10);
    margin-block-end: var(--size-12);
}

.header__span {
    color: hsl(0, 0%, 100%, 0.52);

    font-family: var(--font-sans);
    font-weight: var(--font-weight-6);
    font-size: inherit;
    letter-spacing: var(--font-letterspacing-2);
}

.card__header--role {
    color: hsl(0, 0%, 100%, 0.5);

    font-size: var(--font-size-6);
    font-weight: var(--font-weight-4);
}

.card__header--name {
    font-size: var(--font-size-fluid-3);

    margin-block: var(--size-1) var(--size-7);
}

.card__p {
    font-size: var(--font-size-fluid-1);
}

.cards__list {
    display: flex;
    gap: var(--size-7);
    
    font-size: var(--font-size-fluid-3);

    margin-block-start: var(--size-2);
    padding-inline-start: 0;
}

.cards__list > *{
    padding-inline-start: 0;
}

.card__btn {
    background-color: transparent;

    width: 20px;
    aspect-ratio: 1;

    border: 2px solid hsl(0, 0%, 100%, 0.3);
    border-radius: 50%;
}

.card__btn:hover,
.card__btn:focus {    
    border: 2px solid white;
}


.section--crew {
    display: flex;

    align-items: end;
}

.section__picture {
    transform: translateY(107px);
}