header{
  display: flex;

}

.nav{
  display: flex;
  flex-grow: 1;

}

.nav__ul{  
  display: flex;
  gap: var(--size-fluid-3);
  
  width:55vw;
  margin-left:auto;
  padding-right: var(--size-5);

  background-color: hsl(0, 0%, 100%, 0.05);
  backdrop-filter: blur(var(--size-5));
  list-style: none;
  border-radius: var(--size-1);
  
  align-items: center;
  justify-content: end;
}

.nav--line{

  position: relative;
  left:50px;
  z-index: 1;

  width: 33vw;
  height: 2px;
  
  background-color:hsla(0, 0%, 100%, 0.2);
  backdrop-filter: blur(var(--size-2));

  align-self: center;
}

.nav--logo{
  width: 80px;
  aspect-ratio: 1/1;
}

.nav--counter{
  font-family: var(--font-sans);
  font-weight: var(--font-weight-7);
  font-size: var(--font-size-fluid-1);
  letter-spacing: var(--font-letterspacing-3);
  
  margin-right: var(--size-2);
} 

.nav--link{
  font-size: var(--font-size-fluid-1);
  color:inherit;
  text-decoration: inherit;
}